.text-imagery {
    background-color: #FFF04D;
}

.text-song {
    background-color: #FFF04D;
}

.text-firstperson {
    background-color: #FFF04D;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}